# Setup

In [ ]:
%load_ext autoreload

In [ ]:
%autoreload

import my_functions as mf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from pycaret.regression import *
# from pycaret.time_series import *

In [ ]:
# Loading Y training data for A:
Y_train_a = pd.read_parquet('data/A/train_targets.parquet')
Y_train_a["pv_measurement"] = np.sqrt(Y_train_a["pv_measurement"])

# Loading X training data for A:
X_train_a = pd.concat([pd.read_parquet('data/A/X_train_observed.parquet'), pd.read_parquet('data/A/X_train_estimated.parquet').drop("date_calc", axis=1)])

# Loading X test data for A:
X_test_a = pd.read_parquet('data/A/X_test_estimated.parquet').drop("date_calc", axis=1)

Y_train_a_clean, X_train_a_clean, X_test_a_clean, X_a_clean, train_a_clean = mf.full_clean(Y_train_a,X_train_a,X_test_a)
# Y_train_a_clean_hourly, X_train_a_clean_hourly, X_test_a_clean_hourly, X_a_clean_hourly = full_clean(Y_train_a,X_train_a,X_test_a,False)

# Loading Y training data for B:
Y_train_b = pd.read_parquet('data/B/train_targets.parquet')
Y_train_b["pv_measurement"] = np.sqrt(Y_train_b["pv_measurement"])

# Loading X training data for B:
X_train_b = pd.concat([pd.read_parquet('data/B/X_train_observed.parquet'), pd.read_parquet('data/B/X_train_estimated.parquet').drop("date_calc", axis=1)])

# Loading X test data for B:
X_test_b = pd.read_parquet('data/B/X_test_estimated.parquet').drop("date_calc", axis=1)

Y_train_b_clean, X_train_b_clean, X_test_b_clean, X_b_clean, train_b_clean = mf.full_clean(Y_train_b,X_train_b,X_test_b)
# Y_train_b_clean_hourly, X_train_b_clean_hourly, X_test_b_clean_hourly, X_b_clean_hourly = full_clean(Y_train_b,X_train_b,X_test_b,False)

# Loading Y training data for C:
Y_train_c = pd.read_parquet('data/C/train_targets.parquet')
Y_train_c["pv_measurement"] = np.sqrt(Y_train_c["pv_measurement"])

# Loading X training data for C:
X_train_c = pd.concat([pd.read_parquet('data/C/X_train_observed.parquet'), pd.read_parquet('data/C/X_train_estimated.parquet').drop("date_calc", axis=1)])

# Loading X test data for C:
X_test_c = pd.read_parquet('data/C/X_test_estimated.parquet').drop("date_calc", axis=1)

Y_train_c_clean, X_train_c_clean, X_test_c_clean, X_c_clean, train_c_clean = mf.full_clean(Y_train_c,X_train_c,X_test_c)
# Y_train_c_clean_hourly, X_train_c_clean_hourly, X_test_c_clean_hourly, X_c_clean_hourly = full_clean(Y_train_c,X_train_c,X_test_c,False)

# Main stuff:

## A:

In [5]:
setup_a = setup(train_a_clean, target = "pv_measurement", train_size = 0.975, categorical_features = ["dew_or_rime__idx", "elevation__m", "is_day__idx", "is_in_shadow__idx", "precip_type_5min__idx", "snow_drift__idx", "wind_speed_w_1000hPa__ms"], session_id = 0)

In [ ]:
best_a = setup_a.compare_models(sort = "MAE", fold = 10)

In [ ]:
tuned_best_a = tune_model(best_a, optimize = "MAE", fold = 5, n_iter = 10)

In [ ]:
# evaluate_model(best_a)
# tuned_best_a = tune_model(best_a, optimize = "MAE", fold = 10, n_iter = 100)
# pred_holdout = predict_model(best_a)
# predictions = predict_model(besta, data=X_test_a_clean)
# predictions.iloc[:,-1:]

In [ ]:
# setup_a.create_model("et")

In [ ]:
# best_a = compare_models(fold = 20, sort = "MAE", exclude = ["lar"])

In [ ]:
# evaluate_model(besta)
# pred_holdout = predict_model(besta)
# predictions = predict_model(besta, data=X_test_a_clean)
# predictions.iloc[:,-1:]

In [ ]:
et_a = create_model("et")
# tuned_et_a = tune_model(et_a)
final_et_a = finalize_model(et_a)
pred_et_a_holdout = predict_model(final_et_a)
predictions_et_a = predict_model(final_et_a, data = X_test_a_clean).iloc[:,-1:]
predictions_et_a[predictions_et_a < 0 ] = 0

In [ ]:
lightgbm_a = create_model("lightgbm")
tuned_lightgbm_a = tune_model(lightgbm_a)
final_lightgbm_a = finalize_model(tuned_lightgbm_a)
pred_lightgbm_a_holdout = predict_model(final_lightgbm_a)
predictions_lightgbm_a = predict_model(final_lightgbm_a, data = X_test_a_clean).iloc[:,-1:]
predictions_lightgbm_a[predictions_lightgbm_a < 0 ] = 0

In [6]:
cat_a = setup_a.create_model("catboost")
tuned_cat_a = tune_model(cat_a)
final_cat_a = finalize_model(tuned_cat_a)
pred_cat_a_holdout = predict_model(final_cat_a)
predictions_cat_a = predict_model(final_cat_a, data = X_test_a_clean).iloc[:,-1:]
predictions_cat_a[predictions_cat_a < 0 ] = 0

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

## B:

In [7]:
setup_b = setup(train_b_clean, target = "pv_measurement", train_size = 0.975, categorical_features = ["dew_or_rime__idx", "elevation__m", "is_day__idx", "is_in_shadow__idx", "precip_type_5min__idx", "snow_drift__idx", "wind_speed_w_1000hPa__ms"], session_id = 0)
# best_b = compare_models(fold = 20, sort = "MAE", exclude = ["lar"])

In [ ]:
et_b = create_model("et")
# tuned_et_b = tune_model(et_b)
final_et_b = finalize_model(et_b)
pred_et_b_holdout = predict_model(final_et_b)
predictions_et_b = predict_model(final_et_b, data = X_test_b_clean).iloc[:,-1:]
predictions_et_b[predictions_et_b < 0 ] = 0

In [ ]:
lightgbm_b = create_model("lightgbm")
tuned_lightgbm_b = tune_model(lightgbm_b)
final_lightgbm_b = finalize_model(tuned_lightgbm_b)
pred_lightgbm_b_holdout = predict_model(final_lightgbm_b)
predictions_lightgbm_b = predict_model(final_lightgbm_b, data = X_test_b_clean).iloc[:,-1:]
predictions_lightgbm_b[predictions_lightgbm_b < 0 ] = 0

In [8]:
cat_b = setup_b.create_model("catboost")
tuned_cat_b = tune_model(cat_b)
final_cat_b = finalize_model(tuned_cat_b)
pred_cat_b_holdout = predict_model(final_cat_b)
predictions_cat_b = predict_model(final_cat_b, data = X_test_b_clean).iloc[:,-1:]
predictions_cat_b[predictions_cat_b < 0 ] = 0

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

## C:

In [9]:
setup_c = setup(train_c_clean, target = "pv_measurement", train_size = 0.97, categorical_features = ["dew_or_rime__idx", "elevation__m", "is_day__idx", "is_in_shadow__idx", "precip_type_5min__idx", "snow_drift__idx", "wind_speed_w_1000hPa__ms"], session_id = 0)
# best_c = compare_models(fold = 20, sort = "MAE", exclude = ["lar"])

In [ ]:
et_c = create_model("et")
tuned_et_c = tune_model(et_c)
final_et_c = finalize_model(et_c)
# pred_et_c_holdout = predict_model(final_et_c)
predictions_et_c = predict_model(final_et_c, data = X_test_c_clean).iloc[:,-1:]
predictions_et_c[predictions_et_c < 0 ] = 0

In [ ]:
lightgbm_c = create_model("lightgbm")
tuned_lightgbm_c = tune_model(lightgbm_c)
final_lightgbm_c = finalize_model(tuned_lightgbm_c)
pred_lightgbm_c_holdout = predict_model(final_lightgbm_c)
predictions_lightgbm_c = predict_model(final_lightgbm_c, data = X_test_c_clean).iloc[:,-1:]
predictions_lightgbm_c[predictions_lightgbm_c < 0 ] = 0

In [10]:
cat_c = setup_c.create_model("catboost")
tuned_cat_c = tune_model(cat_c)
final_cat_c = finalize_model(tuned_cat_c)
pred_cat_c_holdout = predict_model(final_cat_c)
predictions_cat_c = predict_model(final_cat_c, data = X_test_c_clean).iloc[:,-1:]
predictions_cat_c[predictions_cat_c < 0 ] = 0

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

# Export

In [11]:
mf.export_csv(np.concatenate([predictions_cat_a, predictions_cat_b, predictions_cat_c])**2, "PyCaret_Tuned_Sqrt_CatBoost")
# mf.export_csv(np.concatenate([predictions_lightgbm_a, predictions_lightgbm_b, predictions_lightgbm_c]), "PyCaret_Tuned_LightGBM")
# mf.export_csv(np.concatenate([predictions_et_a, predictions_et_b, predictions_et_c]), "PyCaret_Extra_Trees")